html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

<div class="wrapper">
  <section id="home">
  <img src="/img/logo.png">
  <div class="row justify-content-center" id="login3">
    <div class="col-md-5">
      <main class="form-signin w-100 m-auto">
        <h1 class="h3 mb-3 fw-normal text-center">Login</h1>
        <form>
          <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <a href="#" class="text-decoration-none">Forget Password</a>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        </form>
    </div>
        
      </main>
    </div>
  </div>
  <div class="" id="register">
    <h3 class="d-block text-center">DON'T HAVE AN ACCOUNT?? <a href="/register">SIGN UP NOW!!!</a></h3>
  </div>
  </section>

  <!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="footer, address, phone, icons" />

	<link rel="stylesheet" href="style.css">
	
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

	<link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">

</head>
	<body>

		<!-- The content of your page would go here. -->

		<footer class="footer-distributed">

			<div class="footer-left">
				<h3><span>Anti Bullying Gracia</span></h3>

				
					
				

				<p class="footer-company-name">© 2021 PushTheme Learning Solutions Pvt. Ltd.</p>
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
					  <p><span>Jl. Cibadak Gg. Sereh,
						 no. 26 kec. Astanaanyar</span>
						Kota Bandung, Jawa Barat</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>(022) 6014810</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="https://www.samuelpasaribu.com">smkgraciabandung@gmail.com</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span>
					We offer training and skill building courses across Technology, Design, Management, Science and Humanities.</p>
				
			</div>
		</footer>
	</body>
</html>