#navigation-bar {
  background-color: blue;
  height: 200px;
  width: 182rem;
}

#navigation-bar a {
  color: white;
  font-family: Tilt+Warp;
  
}

#navigation-bar li:hover {
  background-color: #002352;
}

#navigation-bar .dropdown-menu {
  background-color: #002352;
}

#navigation-bar .dropdown-menu a:hover {
  color: #002352;
}

#navigation-bar .nav a {
  font-size: 1, 5rem;
}

#laporan {
    color: red;
    font-family: Tilt+Warp;
    margin-left: auto;
    height: 200px;
    margin-left: 200;
}

#text {
    text-align: right;
}

#about {
    font-size: 30px;
}

#login {
    font-size: 30px;
    margin-right: 40;
}

#Aplikasi {
    font-size: 50px;
    font-family: Fjalla+One;
}

#text {
    margin-right: auto;
    font-family: Lobster;
}

.tombol {
    text-align: center;
    color: white;
}
.btn-primary {
    background-color: red;

}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin-top: 50px;
    margin-bottom: 500px;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
#login {
    height: 80px;
    margin-left: 150;
    font-size: 25px;
}

#about {
    height: 85px;
    font-size: 25px;
    font-family: Fjalla+One;
}

#aplikasi {
    height: 55px;
    font-size: 50px;
}

#tulisan2 {
    height: 50px;
}

#user {
    height: 65px;
    font-size: 15px;
}

.img {
    top: -50px;
}

.gambar {
    height: 250px;
}

.footer {
    background-color: lightblue;
}

.wk {
    text-align: center;
}

.btn .btn-primary {
  weight: 30rem;
}

.he {
    text-align: center;
}

.register {
    color: red;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.input-box {
  width: 330px;
  box-sizing: border-box;
}


.login_3 {
  margin-left: 200;
}

input{
  height: 40px;
}

.btn {
  padding: 10px 20px;
  text-align: center;
}

.pilihan {
  margin-top: 15px;
}



.site-footer
{
  display: flex;
  background-color:#26272b;
  padding:20px 0 -4px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  height: 300px;
  margin-right: 200;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none

}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:400%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.instagram:hover
{
  background-color:#007bb6
}
.social-icons a.tiktok:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}